<div class="container">
<table >
  <thead>
      <th>Film Title</th>
      <th>Release Date</th>
  </thead>
  <tbody>
      <tr *ngFor="let film of films">
          <td>{{film.title}}</td>
          <td>{{film.release_date}}</td>
          <td><button  (click)="getFilm(film)" style="margin: 10px" >Film Detail</button>
      </tr>
  </tbody>
</table>
<button  (click)="createSession()" style="margin: 10px" >Create Session</button>
<button  (click)="deleteSession()" style="margin: 10px" >Delete Session</button>
<button  (click)="createCookie()" style="margin: 10px" >Create Cookie</button>
</div>