<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <img width="300" alt="Uster Logo" src="assets/img/anime.png" >
  <h1 *ngIf="!showInterceptor">
    {{ title }}
  </h1>
  <div *ngIf="showInterceptor">
  <h1>My Stupid Interceptor</h1>
<div  *ngFor="let post of posts; let i = index">
  <ul >
    <li>{{post.title}}</li>
  </ul>
</div>
</div>
  <div class="container" *ngIf="!showInterceptor">
      <router-outlet></router-outlet>
    </div>
</div>
